@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        @apply font-avenir;
    }
}

@font-face {
    font-family: "AVENIR";
    src: url("/public/fonts/AvenirLTStd-Black.otf");
}

.searchInputAdd {
    width: 100%;
}

.menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: darkcyan;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
}

.test {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: brown;
    z-index: 1000;
    top: 110px;
    transition: all ease-in-out 1s;
}